::ng-deep {
  .container-header {
    .header-title {
      strong {
        color: #ff0000;
      }
    }
  }
}

.container-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;

  .header-title {
    min-height: 50px;
    font-size: 1rem;
  }
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  .content-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .form-button {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      span {
        font-size: 1.5rem;
      }
    }
  }
}
